name: Build and Deploy

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        check-latest: true
        node-version: '14'

    - name: Install Dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Commit and Push Build Artifacts
      env:
        GITHUB_TOKEN: ${{ secrets.G_TOKEN }}
      run: |
        git config --global user.name "TrippyRahul"
        git config --global user.email "rahulrawat.trippybug@gmail.com"
        git add -f ./dist
        git commit -m 'added: build artifacts'
        git push --force origin HEAD:main
